@font-face {
    font-family: CenturyS;
    src: url("./century-reg.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: CenturyS;
    src: url("./century-ita.woff2");
    font-style: italic;
    font-weight: normal;
}
