/* @font-face {
    font-family: "folio";
    src: url("foliobt-medium-webfont.woff2") format("woff2"),
        url("foliobt-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "folio";
    src: url("foliobt-lightitalic-webfont.woff2") format("woff2"),
        url("foliobt-lightitalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "folio";
    src: url("foliobt-light-webfont.woff2") format("woff2"),
        url("foliobt-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "folio";
    src: url("foliobt-book-webfont.woff2") format("woff2"),
        url("foliobt-book-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "verdigris";
    src: url("verdigrismvb-tf-italic.woff2") format("woff2"),
        url("verdigrismvb-tf-italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}

*/

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
